/*  Layout CSS  */

body {
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 1600px;
    width: 100%;
    height: 100%;
    background-color: gray;
    overflow: auto;
}

aside {
    position: absolute;
    float: left;
    width: 10%;
    height: 50%;
    margin-left: 35px;
    top: 65px;
}

/*  NAVBAR CSS  */

#navbar {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255,102,0);
}

li {
    float:left;
}
li a {
    height: 25px;
    display: block;
    color: black;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: .2s;
    vertical-align: middle;
}

li a:hover {
    background-color: rgb(169,105,70);
}

li a img {
    height: 25px;
    margin: 0;
    padding-right: 10px;
}

#lineUnderNavbar {
    background-color: rgb(79, 52, 33);
    height: 15px;
}

/*  HOME PAGE CSS  */

#buttonDiv {
    padding-top: 12%;
    padding-left: 10%;
}

.zoomButton {
    transition: transform .9s, background-color .9s, box-shadow .9s;
    border: rgb(255,102,0) 3px solid;
    border-radius: 10px;
    display: block;
    background-color: rgb(79,52,33);
    font-family: fantasy,monospace;
    text-align: center;
    width: 130px;
    line-height: 150px;
    color: black;
    text-decoration: none;
    box-shadow: 10px 10px 8px #555;
    float: left;
    margin: 60px;
}
.zoomButton:hover {
    transform: scale(1.5);
    background-color: lightgray;
    box-shadow: 5px 5px 4px #555;
}

/*  PONG PAGE CSS  */

.labelFontSize {
    font-size: 11px;
}

#gameTitle {
    height: 130px;
    padding-top: 20px;
    font-family: 'Press Start 2P', monospace;
    font-size: 100px;
    text-align: center;
}

#optionsInput {
    background-color: lightgray;
    border: black 2px solid;
    padding: 5px;
    width: 300px;
    height: auto;
    text-align: center;
    margin-top: 400px;
}

.optionsMargin {
    margin: 3px;
}

#canvasWrapper {
    position: relative;
}

#pong {
    border: black 2px solid;
    cursor: initial;
}

#pongLevelInput {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 100px;
    transform: translate(-50%, -50%);
    border: rgb(255, 102, 0) 3px solid;
    background-color: lightgray;
}

#game {
    height: 70%;
    width: 100%;
    margin: auto;
    text-align: center;
}

#computerLevelInput {
    width: 30px;
}

/*  Snake CSS  */

#snakeStartButton {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 100px;
    transform: translate(-50%, -50%);
    border: rgb(255, 102, 0) 3px solid;
    font-size: large;
}

/*  FONT CSS  */

.default-font {
    font-family: fantasy, monospace;
}

.Fantasy-Bold {
    font-family: fantasy, monospace;
    font-weight: bold;
}

.Retro-Font {
    font-family: "Press Start 2P", monospace;
}
.Retro-Bold {
    font-family: "Press Start 2P", monospace;
    font-weight: bold;
}

/*  BUTTON CSS  */

.startButton {
    border: rgb(255,102,0);
    border-radius: 4px;
    font-family: fantasy,monospace;
    transition-duration: .4s;
}
.startButton:hover {
    background-color: rgb(255,102,0);
}


/* Delete This*/